<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!-- suite name="Suite" allow-return-values="true" parallel="false" verbose="1" thread-count="2"  -->

<suite name="Suite" verbose="1" >
	<listeners>
		<listener class-name="Analyzer.AnnotationTransformer" />     
	</listeners>
	
	<test name="SampleUITest">
		<classes>				
			<class name="com.qa.testcases.HomePageTest">	
				<methods>
					<include name="homePageUITest"></include>
					<include name="searchCityWeather"></include>
					<include name="searchCityWeatherNegative"></include>					
					
				</methods>				
			</class>						
		</classes>
	</test>
	
	
	
</suite>